@media screen and (min-width: $tb-s) and (max-width: $tb-l) {
    .pricing__items {
        grid-template-columns: 1fr 1fr;
        padding: 0 15px;
        grid-gap: 12px;
        grid-row-gap: 75px;
        margin-left: auto;
        margin-right: auto;
    }
    .pricing__item:nth-child(3) {
        transform: scale(1.2) translateX(-5px);
    }       
    .section__header {
        font-size: 42px;
        line-height: 44px;
    }    
}
@media screen and (min-width: 0) and (max-width: $mb-l) {
    .pricing__items {
        grid-template-columns: 1fr;
        grid-gap: 20px;
        margin-top: 30px;
        margin-bottom: 20px;
    }    
    .section__header {
        margin-top: 30px;
        font-size: 28px;
        line-height: 42px;
    }
    .pricing__item:nth-child(3) {
        transform: scale(1.25);
        margin-top: 60px;
        margin-bottom: 60px;
        
    }
}