@media screen and (min-width: $tb-s) and (max-width: $tb-l) {
    .represent {
        &__header {
            font-size: 42px;
            line-height: 42px;
        }
        &__description {
            font-size: 21px;
            line-height: 32px;
        }
    }
}
@media screen and (min-width: 0) and (max-width: $mb-l) {
    .represent {
        &__header {
            font-size: 26px;
            line-height: 28px;
        }
        &__description {
            font-size: 14px;
            line-height: 20px;
        }
    }
    .stata__items {
        margin: 0 auto;
    }
    .stata__item {
        margin-top: 20px;
    }
}