.advantages {
    max-width: 100%;
    background-color: #F4F4F4;
    border-bottom: 1px solid transparent;
    padding-top: 88px;
    padding-bottom: 70px;
    overflow: hidden;
    
    &__inner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1ft;
        // grid-template-rows: ;
    }

    &__header {
        text-align: center;
        font-family: Montserrat;
        font-weight: bold;
        font-size: 48px;
        line-height: 50px;
        color: #8D81AC;

        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    &__features {
        grid-column: 1 / 2;
        grid-row: 1 / 5;

    }

    &__represent {
        // flex-basis: 50%;
        grid-column: 2 / 3;
        grid-row: 2 / 5;
    }

    &__item {
        display: flex;
        min-height: 112px;
    }
    &__item + &__item {
        margin-top: 35px;
    }

    &__img {
        min-width: 20%;
        text-align: center;
    }

    &__info {
        // max-width: 75%;
        padding: 0 30px 0 20px;
        // max-width: 390px;    
    }

    &-item__header {
        font-family: Montserrat;
        font-size: 16px;
        line-height: 21px;
        color: #323232;
        margin-bottom: 14px;
    }

    &-item__description {
        font-family: Montserrat;
        font-size: 14px;
        line-height: 21px;
        color: #848E97;
        // padding-right: 40px;
    }
    &__represent {
        img {
            width: 100%;
            transform: scale(1.2) translate(50px, 25px);
            // position: relative;
            // top: 25px;
        }
    }
}

// .advantages__header,
// .advantages__features,
// .advantages__represent {
//     border: 1px solid red;
// }