@import "mixin";
body {
  padding: 0;
  margin: 0;
}

  .footer__background {
    background-image: url("../images/testmonials-bg 1.png");
    background-size: cover;
  }


  .footer__title {
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 110px;
  }

  .footer_main {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    /*@include grid;
    margin-top: 82px;*/
  }


  .footer_main__block {
    /* padding-right: 55px;
     padding-top: 110px;*/
  }


  .footer_main__block_lower {
    padding-right: 55px;
    padding-top: 120px;
  }

  .footer_main_text {
    width: 345px;
    height: 62px;
    font-family: Lato, serif;
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    /* margin-top: 29px;*/

  }

  .footer__text {
    font-family: Lato, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    margin: auto;
    width: 80%;
    height: 35px;
    padding-top: 100px;
    padding-bottom: 17px;
    color: #A291A5;
  }

  .footer__line {
    width: 80%;
    height: 2px;
    background: #a291a5;
    margin: auto;
  }

  .footer_price_background {
    background-image: url("../images/Layer 2 1.png");
    background-size: cover;
  }

  .footer_price__title {
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 50px;
    text-align: center;
    padding-top: 110px;
    color: #FFFFFF;
  }

  .footer_price__block {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
  }


  .footer_price__block_main {
    padding: 15px;
  }

  .footer_price__block__background__title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 257px;
    height: 97px;
    background: rgba(255, 255, 255, 0.06);
  }
  .footer_price__block_main:hover div.footer_price__block__background__title {
    width: 299px;
    height: 111px;
    background: rgba(70, 48, 72, .84);
  }


  .footer_price__block__text {
    display: grid;
    justify-items: center;
    text-align: center;
    align-items: center;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: normal;
    width: 257px;
    height: 360px;
    background: rgba(255, 255, 255, 0.11);
    color: #FFFFFF;
  }
  .footer_price__block_main:hover div.footer_price__block__text {
    width: 299px;
    height: 450px;
    background: rgba(70, 48, 72, .54);
  }

  .footer_price__block__title {
    font-family: Montserrat, serif;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  .footer_price__block__cost {
    font-size: 60px;
    margin: 0;
    text-transform: uppercase;
  }

  .footer_price__block__month {
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
  }

  .footer_price__block__line {
    width: 60px;
    height: 5px;
    background: #8D81AC;
  }

  .footer_price__block__paragraph {
    font-size: 16px;
  }

  .footer_price__block__button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    line-height: 15px;
    text-transform: uppercase;
    width: 163px;
    height: 45px;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.15);
  }
  .padding_right__zero {
    padding-right: 0;
  }


@media screen and (min-width: 481px) and (max-width: 992px) {

  .footer__title {
    font-size: 42px;
    line-height: 44px;
  }

  .footer_main__block {
   /* @include flex-column;*/
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 110px;
  }

  .footer_main__block_lower {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 120px;
  }

  .footer__text {
    height: 50px;
  }

  .footer_price__title {
    font-size: 42px;
    line-height: 44px;
  }

  .footer_price__block {
    flex-wrap: wrap;
  }

}

@media(min-width: 320px) and (max-width: 480px) {
  .footer_price__block {
    flex-wrap: wrap;
  }
    .footer__title {
    font-size: 32px;
    line-height: 44px;
  }

  .footer_main__block {
    padding-right: 0;
  }

  .footer_main__block_lower {
    padding-right: 0;
  }

  .footer__text {
    height: 50px;
    padding-bottom: 100px;
  }

  .footer__line {
    width: 100%;
  }

  .footer_price__title {
    font-size: 32px;
    line-height: 44px;
  }

}