@mixin flex-column{
  display: flex;
  flex-direction: column;
  align-items: center;
}
@mixin grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 45px
}